@theme "sidebar"
* {
	bg: #282c34;
	fg: #abb2bf;
    background-color: @bg; /* bg */
    text-color: @fg; /* fg */
	dark: @bg;
	normal-foreground: @fg
	lightwhite: @fg;
	lightblack: @bg;
	blue: #61afef; /* blue */
	lightblue: #56b6c2; /* cyan */
	lightred: #e06c75; /* red */
}

#button selected {
	border-color: @blue;
	text-color: @blue;
}

#inputbar {
	background-color: @lightblack;
	text-color: @blue;
}

#mainbox {
	background-color: @background-color
}

